<script lang="ts">
    import '../app.css';

    import { onMount, setContext } from 'svelte';

    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import UserSidebar from '../components/UserSidebar.svelte';
    import Button from '../components/Button.svelte';

    import User from '../models/User';

    let dark: boolean = true;
    let showSidebar: boolean = false;
    let showDeleteModal: boolean = false;

    setContext('theme', dark);

    onMount(() => {
        dark =
            localStorage.theme === 'dark' ||
            (!('theme' in localStorage) &&
                window.matchMedia('(prefers-color-scheme: dark)').matches);
        localStorage.theme = dark ? 'dark' : 'light';
    });

    const deleteUser = () => {
        const foo = JSON.parse(localStorage.user);
        const user: User = new User(foo.username);
        user.delete()
            .then(() => {
                location = location;
            })
            .catch((err) => {
                alert('Error deleting user');
                console.log(err);
            }).finally(() => {
                showDeleteModal = false;
            });
    };
</script>

<svelte:window
    on:keydown={(ev) => {
        if (ev.key == 'Escape') {
            showSidebar = false;
        }
    }}
/>

<div class:dark>
    <div
        class="flex flex-col min-h-screen px-4 bg-gradient-to-bl from-blue-100 to-sky-100 dark:from-violet-900 dark:to-sky-900 duration-500
        {showSidebar || showDeleteModal
            ? 'brightness-50 pointer-events-none select-none'
            : ''}"
    >
        <!-- <Header bind:showSidebar /> -->
        <Header bind:showSidebar />
        <main class="flex-grow m-4">
            <slot />
        </main>
        <Footer
            bind:dark
            onclick={() => (localStorage.theme = dark ? 'dark' : 'light')}
        />
    </div>
    {#if showSidebar}
        <UserSidebar bind:showSidebar bind:showDeleteModal />
    {/if}
    {#if showDeleteModal}
        <div
            class="absolute left-0 right-0 top-1/2 translate-y-r1/2 my-0 mx-auto rounded-xl flex flex-col items-center space-y-2 max-w-lg p-4 text bg-slate-100 dark:bg-slate-900"
        >
            <h3>Are you sure you want to delete your account?</h3>
            <h3 class="font-bold">(This action cannot be reversed)</h3>
            <div class="flex flex-row justify-evenly w-full">
                <Button
                    type="secondary"
                    onclick={() => (showDeleteModal = false)}>Cancel</Button
                >
                <Button type="danger" onclick={() => deleteUser()}
                    >Delete Account</Button
                >
            </div>
        </div>
    {/if}
</div>

<style>
    .translate-y-r1\/2 {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>
