<head>
    <title>About</title>
</head>
<div class="flex lg:flex-row flex-col max-w-7xl lg:mx-auto space-x-4 text">
    <div class="flex flex-col basis-2/5">
        <figure class="flex flex-col justify-center">
            <img src="mycat.png" alt="my cat" class="m-auto w-full max-w-md" />
            <figcaption class="mx-auto my-4 text-2xl">
                This is my cat
            </figcaption>
        </figure>
    </div>
    <div class="flex flex-col basis-3/5 space-y-2">
        <p>
            This project was made for my web development class. It is a full
            stack web app for creating, saving, and sharing collages of lists of
            music albums. Heavy inspiration is drawn from <a
                href="https://www.neverendingchartrendering.org/">Topsters</a
            > with the goal of creating a more feature complete product (if time
            permits).
        </p>
        <p>It is built with:</p>
        <ul class="list-disc ml-6">
            <li>
                <a href="https://svelte.dev/">Svelte</a> (using
                <a href="https://kit.svelte.dev/">SvelteKit</a>)
            </li>
            <li><a href="https://tailwindcss.com/">TailwindCSS</a></li>
            <li><a href="https://www.typescriptlang.org/">TypeScript</a></li>
            <li><a href="https://expressjs.com/">Express</a></li>
            <li><a href="https://axios-http.com/">Axios</a></li>
        </ul>
        <p>
            You can view the source here: <a
                href="https://gitlab.com/qouesm/web-project"
                >https://gitlab.com/qouesm/web-project</a
            >
        </p>
        <p>The cat has a name but she is colloquially called "cat"</p>

        <hr />

        <h2 class="text-xl font-bold">Functionality</h2>
        <tt class="ml-auto text-lg">04/06/22</tt>
        <p>
            The main functionality of the app is within <a href="maker">Maker</a
            >. It is currently populated with a generic random chart of photos
            sourced from
            <a href="https://picsum.photos/">Lorem Picsum</a>. These will later
            on be sourced by the
            <a href="https://www.last.fm/api">Last.fm API</a> through user searches.
            You can drag around these "cards" to rearrange them. The chart state
            is persistent through resizes (which may cut off some cards).
        </p>
        <p>
            The left side of the screen is dedicated to different menus that let
            you interact and mutate the chart. The only functional tab is the
            options and within that only the three sliders affect the chart. The
            additional select menu is for the user to switch between their
            charts.
        </p>
        <p>
            It may be worth noting that 90% of testing was done on Firefox, the
            other 10% on Chromium. Chromium may have bugs and other browsers are
            untested.
        </p>
    </div>
</div>
