<script lang="ts">
    import { goto } from '$app/navigation';
    import { onMount } from 'svelte';
    onMount(() => goto('maker'));
</script>

<head>
    <title>andrw's webpage</title>
</head>

<div class="flex flex-col items-center space-y-4 text" />
