<script lang="ts">
    import { onMount, setContext } from 'svelte';
    import { writable } from 'svelte/store';
    import type { Writable } from 'svelte/store';

    import ChartComponent from '../components/chart/Chart.svelte';
    import ChartSearch from '../components/chart/Search.svelte';
    import ChartOptions from '../components/chart/Options.svelte';
    import ChartEdit from '../components/chart/Edit.svelte';
    import MenuButton from '../components/chart/MenuButton.svelte';
    import Icon from '../components/Icon.svelte';
    import type { Drag } from '../components/chart/Drag';

    import Chart from '../models/Chart';
    import { tweened } from 'svelte/motion';

    let autoSave: boolean = false;

    const autoSaveInterval = 10;
    let timer = tweened(autoSaveInterval);
    setInterval(() => {
        if ($timer > 0 && autoSave) $timer--;
        else if ($timer <= 0) {
            $timer = autoSaveInterval;
            save();
        }
    }, 1000);

    const chart: Writable<Chart> = writable(new Chart('Loading...', '-1'));
    setContext('chart', chart);
    onMount(() => {
        if (localStorage.getItem('chart')) {
            const c = JSON.parse(localStorage.getItem('chart'));
            $chart = c;
        } else {
            $chart = new Chart('My Chart', '');
            localStorage.setItem('chart', JSON.stringify($chart));
        }
        // autoSave = true;
    });

    const save = async () => {
        const c = new Chart(
            $chart.title,
            $chart.userId,
            '',
            $chart.description,
            $chart.created,
            $chart.edited,
            $chart.options,
            $chart.cards
        );
        await c.update();
    };

    let results: Writable<Chart> = writable(new Chart('Results', '-1'));
    setContext('results', results);
    let drag: Writable<Drag> = writable({
        cur: {
            n: 0,
            pos: 'chart',
        },
        hov: {
            n: 0,
            pos: 'chart',
        },
    });
    setContext('drag', drag);

    const views = [
        {
            name: 'search',
            page: ChartSearch,
        },
        {
            name: 'options',
            page: ChartOptions,
        },
        {
            name: 'edit',
            page: ChartEdit,
        },
    ];
    let curView: number = 0;
</script>

<head>
    <title>Chart Maker</title>
</head>

<div
    class="flex md:flex-row flex-col md:items-start items-center overflow-x-scroll md:space-x-8 space-x-0 md:space-y-0 space-y-8"
>
    <div class="flex flex-col w-fit space-y-8 h-fit">
        <nav
            class="flex flex-row justify-evenly border-4 border-red-500 rounded-xl"
        >
            {#each views as view, i}
                <MenuButton
                    onclick={() => (curView = i)}
                    selected={curView == i}
                >
                    <Icon type={view.name} size="36" />
                </MenuButton>
            {/each}
        </nav>
        <div
            class="flex flex-col items-center p-4 space-y-4 border-4 border-red-500 rounded-xl"
        >
            <svelte:component this={views[curView].page} />
        </div>
    </div>
    <ChartComponent />

    <!-- TODO create delete drag box -->
</div>

<!-- <button class="bg-red-500 p-5 text active:bg-red-700" on:click={save}>
    SAVE
</button>

<button class="bg-blue-500 p-5 text active:bg-blue-700" on:click={()=> {localStorage.removeItem('chart')}}>
    CLEAR
</button> -->
