<script lang="ts">
    import Button from '../components/Button.svelte';

    import User from '../models/User';

    let pageTitle: string = 'Sign in';
    let showSignin: boolean = true;

    let signinError: string = '';
    let registerError: string = '';

    const showRegister = () => {
        pageTitle = 'Register';
        showSignin = false;
    };

    const signinSubmit = (ev) => {
        const data = {
            username: '',
            password: '',
        };
        const formData = new FormData(ev.target);
        formData.forEach((value, key) => (data[key] = value));
        const user = new User(data.username, data.password);

        user.signIn()
            .then(() => {
                signinError = '';
                window.location.href = '/';
            })
            .catch((err) => {
                signinError = err.message;
            });
    };

    const registerSubmit = (ev) => {
        const data: {
            username: string;
            password: string;
            passwordConfirm: string;
        } = {
            username: undefined,
            password: undefined,
            passwordConfirm: undefined,
        };
        const formData = new FormData(ev.target);
        formData.forEach((value, key) => (data[key] = value));

        if (data.password !== data.passwordConfirm) {
            registerError = "Passwords don't match";
            return;
        }
        delete data.passwordConfirm;

        const user: User = new User(data.username, data.password);

        user.register()
            .then(() => {
                registerError = '';
            })
            .catch((err) => (registerError = err.message));
    };
</script>

<head>
    <title>{pageTitle}</title>
</head>
<div class="flex flex-col items-center m-auto w-fit">
    <h1 id="page-title" class="ml-9 mr-auto mt-4 text text-2xl font-bold">
        {pageTitle}
    </h1>

    {#if showSignin}
        <form
            class="flex flex-col items-center p-2 m-4 text border-4 border-red-500 rounded-xl"
            on:submit|preventDefault={signinSubmit}
        >
            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            />
            {#if signinError}
                <p
                    class="text-red-500 p-2 my-4 font-bold bg-slate-100 dark:bg-slate-900 border-l-4 border-red-500"
                >
                    Error: {signinError}
                </p>
            {/if}
            <Button type="primary">Sign In</Button>
        </form>
    {/if}

    {#if !showSignin}
        <form
            id="register"
            on:submit|preventDefault={registerSubmit}
            class="flex flex-col items-center p-2 m-4 text border-4 border-red-500 rounded-xl"
        >
            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            />
            <input
                type="password"
                name="passwordConfirm"
                placeholder="Confirm Password"
                required
            />
            {#if registerError}
                <p
                    class="text-red-500 p-2 my-4 font-bold bg-slate-100 dark:bg-slate-900 border-l-4 border-red-500"
                >
                    Error: {registerError}
                </p>
            {/if}
            <Button type="primary">Register</Button>
        </form>
    {/if}

    {#if showSignin}
        <Button onclick={showRegister} type="secondary">Register</Button>
    {/if}
</div>

<style>
    input {
        @apply m-2 p-1 placeholder-slate-500 bg-inherit border-b-2 border-slate-800 w-72;
    }
</style>
