@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    @apply text-slate-900 dark:text-slate-100;
}

.text-hover:hover {
    @apply text-slate-700 dark:text-slate-300 transition-colors;
}

a {
    font-weight: bold;
    @apply text-hover;
}

textarea {
    resize: none;
}
