<script lang="ts">
    export let type: string = 'secondary';
    export let onclick: () => void = null;
</script>

{#if type === 'primary'}
    <button
        class="whitespace-nowrap text-slate-100 hover:text-slate-200 font-bold m-1 px-4 py-2 rounded-xl border-2 border-b-4 border-purple-800 bg-purple-500 hover:bg-purple-600 active:shadow-purple-800 active:shadow-inner active:pt-2.5 active:pb-1.5 transition-colors"
        on:click={onclick}
    >
        <slot />
    </button>
{:else if type === 'secondary'}
    <button
        class="whitespace-nowrap text text-hover dark:hover:text-slate-200 font-bold m-1 px-4 py-2 rounded-xl border-2 border-b-4 border-slate-500 bg-slate-200 hover:bg-slate-300 active:shadow-slate-500 dark:border-slate-700 dark:bg-slate-500 dark:hover:bg-slate-600 dark:active:shadow-slate-700 active:shadow-inner active:pt-2.5 active:pb-1.5 transition-colors"
        on:click={onclick}
    >
        <slot />
    </button>
{:else if type === 'danger'}
    <button
        class="whitespace-nowrap text-slate-100 hover:text-slate-200 font-bold m-1 px-4 py-2 rounded-xl border-2 border-b-4 border-red-800 bg-red-500 hover:bg-red-600 active:shadow-red-800 active:shadow-inner active:pt-2.5 active:pb-1.5 transition-colors"
        on:click={onclick}
    >
        <slot />
    </button>
{/if}