<script lang="ts">
    import NavItem from './NavItem.svelte';

    export let dark: boolean;
    export let onclick: () => void;

    const nav = [
        {
            name: 'Home',
            href: '/',
        },
        {
            name: 'About',
            href: 'about',
        },
    ];
</script>

<footer>
    <div
        class="flex justify-center md:justify-start max-w-7xl mx-auto px-4 sm:px-6 mt-6 py-6 md:space-x-10 border-t-2 border-slate-300 dark:border-slate-600"
    >
        <!-- left -->
        <div class="hidden md:flex items-center justify-start md:flex-1">
            <nav
                class="flex flex-row flex-wrap justify-center content-center mx-4 space-x-8"
            >
                {#each nav as page}
                    <NavItem content={page.name} href={page.href} />
                {/each}
            </nav>
        </div>

        <!-- middle -->
        <div class="m-auto">
            <h4 class="whitespace-nowrap text-base font-bold text">
                &copy; 2022 Me
            </h4>
        </div>

        <!-- right -->
        <div class="hidden md:flex items-center justify-end md:flex-1">
            <a
                href="/"
                on:click|preventDefault={() => {
                    dark = !dark;
                    onclick();
                }}
                class="p-2 mx-4 active:pt-2.5 active:pb-1.5 bg-sky-200 hover:bg-sky-300 border-sky-500 dark:bg-sky-600 dark:hover:bg-sky-700 dark:border-sky-900 border-2 rounded-full active:shadow-inner active:shadow-sky-500 dark:active:shadow-sky-900 transition-colors"
                >{dark ? '🌙' : '☀️'}</a
            >
            <div />
        </div>
    </div>
</footer>
