<script lang="ts">
    export let action: string = '#';
    export let id: string;
</script>

<form
    {action}
    {id}
    class="flex flex-col items-center p-2 m-4 border-4 border-red-500 rounded-xl"
>
    <slot />
</form>
