<script lang="ts">
    export let showSidebar: boolean = false;

    import { onMount } from 'svelte';
    import NavItem from './NavItem.svelte';

    let loaded: boolean = false;
    let signedIn: boolean = false;
    let username: string = '';

    const nav = [
        // this blank entry bodges a css issue where the first element
        // in this list is abnormally too high vertically.
        { name: '' },
        // {
        //     name: 'Home',
        //     href: '/',
        // },
        {
            name: 'Maker',
            href: 'maker',
        },
        {
            name: 'About',
            href: 'about',
        },
    ];

    onMount(() => {
        loaded = true;
        if (localStorage.user) {
            signedIn = true;
            username = JSON.parse(localStorage.user).username;
        }
    });
</script>

<header>
    <div
        class="max-w-7xl mx-auto px-4 sm:px-6 flex justify-between items-center py-6 md:justify-start md:space-x-10 border-b-2 border-slate-300 dark:border-slate-600"
    >
        <!-- left -->
        <div class="flex justify-start md:flex-1">
            <a href="/">
                <img
                    class="w-10 select-none"
                    src="cathead.png"
                    alt="home icon"
                />
            </a>
        </div>

        <!-- middle -->
        <nav
            class="flex flex-wrap justify-center content-center mx-4 space-x-6 space-y-2 sm:space-y-0"
        >
            {#each nav as page}
                <NavItem content={page.name} href={page.href} />
            {/each}
        </nav>

        <!-- right -->
        <div
            class="flex flex-col sm:flex-row items-center justify-end md:flex-1"
        >
            {#if loaded}
                {#if signedIn}
                    <p
                        class="cursor-pointer text text-hover font-bold p-2 bg-slate-100 dark:bg-slate-900 border-purple-500 border-l-4"
                        on:click={() => {
                            showSidebar = !showSidebar;
                        }}
                    >
                        {username}
                    </p>
                {:else}
                    <a
                        href="signin"
                        class="hidden sm:flex whitespace-nowrap text text-hover text-base font-bold transition-colors"
                    >
                        Sign in
                    </a>
                    <a
                        href="signin"
                        class="whitespace-nowrap text-base sm:ml-4 px-4 py-2 border-2 border-b-4 text-slate-900 hover:text-slate-800 border-sky-600 rounded-xl font-bold bg-sky-200 hover:bg-sky-300 active:shadow-inner active:shadow-sky-600 active:pt-2.5 active:pb-1.5 transition-colors"
                    >
                        Sign up
                    </a>
                {/if}
            {/if}
        </div>
    </div>
</header>
