<script lang="ts">
    export let content: string;
    export let href: string = '#';
</script>

<a
    class="whitespace-nowrap text-lg font-bold text text-hover transition-colors"
    {href}
>
    {content}
</a>
