<script lang="ts">
    export let showSidebar: boolean = false;
    export let showDeleteModal: boolean = false;

    import { onMount } from 'svelte';
    import { fly } from 'svelte/transition';

    import User from '../models/User';

    import Icon from './Icon.svelte';

    let username: string;

    onMount(() => {
        if (localStorage.user) {
            username = JSON.parse(localStorage.user).username;
        }
    });
</script>

<nav
    class="fixed top-0 right-0 flex flex-row-reverse h-full md:w-1/4 w-3/4 p-4 border-l-4 border-purple-500 bg-slate-100 dark:bg-slate-900"
    transition:fly={{ x: 1000, opacity: 0 }}
>
    <button
        class="cursor-pointer items-start w-fit h-fit p-1 ml-auto text-red-500"
        on:click={() => (showSidebar = false)}
    >
        <Icon type="x" size="2.5rem" />
    </button>
    <ul class="flex flex-col w-full">
        <li
            class="text text-2xl p-2 pl-4 rounded-full bg-gradient-to-r from-violet-900 to-sky-900"
        >
            Hello <b>{username}</b>
        </li>
        <div class="m-auto space-y-4 text-lg text-center">
            <li>
                <button
                    class="font-bold text text-hover whitespace-nowrap"
                    on:click={() => {
                        User.signOut();
                        location = location;
                    }}>Sign out</button
                >
            </li>
            <li>
                <button
                    class="font-bold text text-hover whitespace-nowrap"
                    on:click={() => {
                        showSidebar = false;
                        showDeleteModal = true;
                    }}>Delete account</button
                >
            </li>
        </div>
    </ul>
</nav>
