<script lang="ts">
    import { getContext } from 'svelte';
    import { flip } from 'svelte/animate';
    import type { Writable } from 'svelte/store';

    import type Chart from '../../models/Chart';
    import Card from '../../models/Card';
    import type { Drag } from './Drag';

    let chart: Writable<Chart> = getContext('chart');
    let results: Writable<Chart> = getContext('results');
    let drag: Writable<Drag> = getContext('drag');

    $: updateGrid($chart.options.height, $chart.options.width);
    const updateGrid = (height: number, width: number) => {
        let remainder = height * width - $chart.cards.length;
        if (remainder > 0) {
            // extend photos with 'remainder' number of empty cards
            $chart.cards.push(
                ...Array.from({ length: remainder }, (): Card => new Card())
            );
        }
    };

    const drop = (ev: DragEvent, i: number) => {
        ev.preventDefault();

        if ($drag.cur.pos === 'chart' && $drag.hov.pos === 'chart') {
            // inserts cur at hov position and offsets elements between the two
            if ($drag.hov.n < $drag.cur.n) {
                for (let i = $drag.cur.n; i > $drag.hov.n; i--) {
                    // swap
                    [$chart.cards[i], $chart.cards[i - 1]] = [
                        $chart.cards[i - 1],
                        $chart.cards[i],
                    ];
                }
            } else {
                for (let i = $drag.cur.n; i < $drag.hov.n; i++) {
                    // swap
                    [$chart.cards[i], $chart.cards[i + 1]] = [
                        $chart.cards[i + 1],
                        $chart.cards[i],
                    ];
                }
            }

            localStorage.setItem('chart', JSON.stringify($chart));
        } else if ($drag.cur.pos === 'results' && $drag.hov.pos === 'chart') {
            // cards are from different areas
            $chart.cards[$drag.hov.n] = $results.cards[$drag.cur.n];

            localStorage.setItem('chart', JSON.stringify($chart));
        }
    };
</script>

<div class="flex flex-row md:space-x-4 space-x-0">
    <div
        class="grid p-4 border-4 border-red-500 rounded-xl"
        style="grid-template-columns: repeat({$chart.options.width}, 1fr)"
    >
        <!-- i have to forgo animation for now.
        it requires each card to have a unique id,
        which is proving to be very difficult to maintain
        between page reloads. -->
        <!-- {#each $chart.cards.filter((e) => $chart.cards.indexOf(e) < $chart.options.height * $chart.options.width) as card, i (card.serialId)} -->
        {#each $chart.cards.filter((e) => $chart.cards.indexOf(e) < $chart.options.height * $chart.options.width) as card, i}
            <img
                src={card.cover}
                alt={card.title}
                class="card shadow-black select-none0
                {card.title ? '' : 'empty shadow-inner bg-white'}"
                id={i.toString()}
                style="margin: {$chart.options.margin}px"
                draggable="true"
                on:dragstart={(ev) => {
                    $drag.cur.n = i;
                    $drag.cur.pos = 'chart';
                }}
                on:dragover={(ev) => {
                    ev.preventDefault();
                    $drag.hov.n = i;
                    $drag.hov.pos = 'chart';
                }}
                on:drop={(ev) => drop(ev, i)}
            />
            <!-- animate:flip={{ duration: 200 }} -->
        {/each}
    </div>
    {#if $chart.options.showTitles}
        <ul class="text">
            {#each $chart.cards.filter((e) => $chart.cards.indexOf(e) < $chart.options.height * $chart.options.width) as card, i}
                {#if card.title && card.artist}
                    <li>
                        <span class="font-mono whitespace-pre w-fit">
                            {#if $chart.options.showNumbers}
                                {`${i + 1}.`.toString().padEnd(4, ' ')}
                            {/if}
                        </span>
                        {card.artist} - {card.title}
                    </li>
                {/if}
            {/each}
        </ul>
    {/if}
</div>

<style>
    .card {
        height: 100px;
        width: 100px;
    }
</style>
