<script lang="ts">
    export let onclick: () => void;
    export let selected: boolean = false;
</script>

<button
    class="cursor-pointer p-2 m-2 border-2 border-current rounded-full text text-hover active:text-slate-700 active:dark:text-slate-300 transition-colors
    {selected ? 'bg-red-500' : ''}"
    on:click={onclick}
>
    <slot />
</button>
