<script lang="ts">
    import { getContext } from 'svelte';
    import type { Writable } from 'svelte/store';

    import Slider from './Slider.svelte';
    import type Chart from '../../models/Chart';

    const chart: Writable<Chart> = getContext('chart');

    let chartTitle: string = $chart.title;
    let charts: string[] = [$chart.title, 'these', 'are', 'your', 'charts'];
</script>

<select
    bind:value={chartTitle}
    class="h-12 w-full p-1 pr-6 rounded-lg border-2 text bg-slate-100 border-slate-900  dark:bg-slate-900 dark:border-slate-100"
>
    <option class="hidden" />
    {#each charts as opt}
        <option value={opt}>{opt}</option>
    {/each}
</select>
<span class="ml-2 mr-auto space-x-2">
    <input
        type="checkbox"
        name="titles"
        bind:checked={$chart.options.showTitles}
    />
    <label for="titles" class="text">Show Titles</label>
</span>
<span class="ml-2 mr-auto space-x-2">
    <input
        type="checkbox"
        name="numbers"
        bind:checked={$chart.options.showNumbers}
        disabled={!$chart.options.showTitles}
    />
    <label for="numbers" class="text">Show Numbers</label>
</span>
<Slider name="Height" bind:value={$chart.options.height} range={[1, 12]} />
<Slider name="Width" bind:value={$chart.options.width} range={[1, 12]} />
<Slider name="Margin" bind:value={$chart.options.margin} range={[0, 24]} />
