<script lang="ts">
    import { getContext } from 'svelte';
    import { flip } from 'svelte/animate';
    import type { Writable } from 'svelte/store';

    import type Chart from '../../models/Chart';
    import Card from '../../models/Card';

    import type { Drag } from './Drag';

    let chart: Writable<Chart> = getContext('chart');
    let results: Writable<Chart> = getContext('results');
    let drag: Writable<Drag> = getContext('drag');

    const size = {
        height: 15,
        width: 3,
    };

    const drop = (ev: DragEvent, i: number) => {
        ev.preventDefault();

        if ($drag.cur.pos === 'chart' && $drag.hov.pos === 'results') {
            // delete chart cur (replace with blank)
            $chart.cards[$drag.cur.n] = new Card();
            localStorage.setItem('chart', JSON.stringify($chart));
        }
    };
</script>

<div class="grid p-4" style="grid-template-columns: repeat({size.width}, 1fr)">
    {#each $results.cards.filter((e) => $results.cards.indexOf(e) < size.height * size.width) as card, i }
        <img
            src={card.cover}
            alt={card.title}
            class="card shadow-black select-none hide-text
            {card.title ? '' : 'empty shadow-inner bg-white'}"
            id={i.toString()}
            style="margin: 4px"
            draggable="true"
            on:dragstart={(ev) => {
                $drag.cur.n = i;
                $drag.cur.pos = 'results';
            }}
            on:dragover={(ev) => {
                ev.preventDefault();
                $drag.hov.n = i;
                $drag.hov.pos = 'results';
            }}
            on:drop={(ev) => drop(ev, i)}
        />
    {/each}
</div>

<style>
    /* .empty {
        height: 100px;
        width: 100px;
    } */

    .card {
        height: 100px;
        width: 100px;
    }

    /* doesn't work? */
    .hide-text {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    /* indent-[100%] whitespace-nowrap overflow-hidden" */
</style>
