<script lang="ts">
    import { getContext } from 'svelte';
    import type { Writable } from 'svelte/store';

    import Results from '../chart/Results.svelte';
    import type Chart from '../../models/Chart';
    import Card from '../../models/Card';
    import api from '../../models/Fetch';

    let results: Writable<Chart> = getContext('results');

    let showSearch: boolean = false;
    let searchError: string = '';

    const search = (ev) => {
        const formData = new FormData(ev.target);
        const query = formData.get('query');
        if (query === '') return;

        api('/lastfm/album/search', { query })
            .then((res) => {
                res.result.forEach((v, i: number) => {
                    const link = v.images.at(-1);
                    let id: string = v.name;
                    if (link)
                        // uses the url as a unique ID
                        id = link.substring(
                            link.indexOf('/300x300/') + 9,
                            link.lastIndexOf('.png')
                        );
                    $results.cards[i] = new Card(
                        v.name,
                        v.artistName,
                        link,
                        id
                    );
                });
                $results.cards = $results.cards.filter((v) => !!v.cover);
                showSearch = true;
            })
            .catch((err) => {
                searchError = err.message;
                showSearch = false;
            });
    };
</script>

<div class="flex flex-col justify-center">
    <form
        class="flex flex-row flex-nowrap justify-center w-full"
        on:submit|preventDefault={search}
    >
        <!-- w-48 here appears to work but may not display the same on other devices -->
        <!-- the goal is for this menu to width match the others, but the button makes this difficult here -->
        <input
            type="text"
            name="query"
            placeholder="search"
            class="rounded-full w-48 h-10 px-2 py-1 m-1 border-slate-900 border-2"
        />
        <input
            type="submit"
            value="Go"
            class="cursor-pointer whitespace-nowrap text-slate-100 hover:text-slate-200 font-bold m-1 px-2 py-1 rounded-full border-2 border-b-4 border-purple-800 bg-purple-500 hover:bg-purple-600 active:shadow-purple-800 active:shadow-inner active:pt-1.5 active:pb-0.5 transition-colors"
        />
    </form>
    {#if searchError}
        <p
            class="mx-auto text-red-500 p-2 my-2 font-bold bg-slate-100 dark:bg-slate-900 border-l-4 border-red-500"
        >
            Error: {searchError}
        </p>
    {/if}
</div>

{#if showSearch}
    <div class="overflow-y-scroll search md:max-h-[50vh] max-h-[30vh]">
        <Results />
    </div>
{/if}
