<script lang="ts">
    export let name: string;
    export let value: number;
    export let range: number[];
</script>

<h3
    class="w-fit py-1 px-2 font-bold rounded-lg border-2 text bg-slate-100 border-slate-900 dark:bg-slate-900 dark:border-slate-300"
>
    {name}
</h3>
<div class="flex flex-row space-x-2">
    <input
        type="range"
        min={range[0]}
        max={range[1]}
        bind:value
        class="m-auto h-2 bg-slate-300 dark:bg-slate-900 rounded-full appearance-none"
        id="height"
    />
    <label for="height" class="font-mono text w-4">{value}</label>
</div>

<style>
    :root {
        --border: #ef4444; /* red-500 */
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        background: inherit;
        border: 6px solid var(--border);
        border-radius: 50%;
    }

    input[type='range']::-moz-range-thumb {
        height: 1em;
        width: 1em;
        background: inherit;
        border: 6px solid var(--border);
        border-radius: 50%;
    }
</style>
